extends layout

block content
    .container-wrapper 
        .mycontainer.container-left 
            .title #{file.title}
            if username == file.creator || level == 'admin'
                a(href='#deleteFileModal' data-toggle='modal' data-file=file._id data-creator=file.creator)
                    i#openDeleteModalButton.fa-solid.fa-trash
            i#bookmarkIcon.fa-regular.fa-bookmark(data-user=username, data-file=file._id)
            .bookmarkPopup Saved
            p Author: #{file.creator}
            p Date: #{file.created}
            p Type: #{file.type}
            p Size: #{file.size} kb
            p Description #{file.description}
            //- .preview-file
                //- p Preview aqui
            .button Download 
                i.fa-solid.fa-download
        .mycontainer.container-right 
            .title Comment Section
            .comment-list
                for c in file.comments
                    .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span #{c.user}
                        .comment-content
                            p #{c.comment}
                        .comment-date
                            i.fa-solid.fa-clock
                            span #{c.created}
            .comment-form
                form
                    textarea#commentText(name="commentText", rows="4", placeholder="Write your comment here...")
                    .button
                        input(type="submit" value="Comment") 
    // Delete File Modal
    #deleteFileModal.modal.fade(tabindex="-1", role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title Are you sure?
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            p You are about to permanently remove a file. This action cannot be undone.
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
            button.btn.btn-primary(type="button", id="confirmDeleteFile") Confirm
                        