extends layout

block content
    if errorMessage
        script.
            alert("#{errorMessage}");
    .container-wrapper 
        .mycontainer.container-left 
            .title All Files
            .content
                .filter-container
                    .filter-sort
                        select#sort-by(name="sort")
                          option(value="" selected) Sort by
                          option(value="dateasc") Date Ascending
                          option(value="datedesc") Date Descending
                          option(value="titleasc") Alphabetically Ascending
                          option(value="titledesc") Alphabetically Descending
                          option(value="sizeasc") Size Ascending
                          option(value="sizedesc") Size Descending
                          option(value="favsasc") Favorites Ascending
                          option(value="favsdesc") Favorites Descending
                .filter-container-type-cat
                    .filter-sort
                        select#filter-by-type(name="sort") 
                            option(value="" selected) Type
                            each t in tipos
                                option(value=t) #{t}
                            option(value="all") ALL
                
                    .filter-sort
                        select#filter-by-categ(name='category')
                            option(value='' selected) Category 
                            each c in cat
                                option(value=c.name) #{c.name}
                            option(value='all') ALL

                    .filter-sort
                        select#filter-by-group(name='groups')
                            option(value='' selected) Group 
                            each g in groups
                                option(value=g.name) #{g.name}
                .filter-container-last
                    .filter-sort
                        select#filter-by-categ-selected(name='categSelected')
                            option(value='' selected) Filter by
                            option(value='name') Name
                            option(value='title') Title
                            option(value='path') Path
                            option(value='created') Created 
                            option(value='modified') Modified 
                            option(value='size') Size
                            option(value='author') Author
                
                    .filter-sort
                        select#filter-by-symb-selected(name='condition')
                            option(value='' selected) Category
                            option(value='equals') ==
                            option(value='greater') >
                            option(value='less') <
                            option(value='greaterOrEqual') >=
                            option(value='lessOrEqual') <=
                            option(value='notEqual') !=
                            option(value='contains') contains
                            option(value='notContains') not contains
                            option(value='startsWith') starts with
                            option(value='endsWith') ends with
                
                    .search-wrapper
                        input#filter-categ-selected(type='text' placeholder='Enter value' name='categValue')
                        button#filter-button Apply
            .header-files 
                .header-title Title
                .header-details
                  .header-detail Author
                  .header-detail Date
                  .header-detail Type
                  .header-detail Size
                  .header-detail â¤
            
            each f in files
                .files-list
                    .header-title 
                        a(href='/recursos/' + f._id) #{f.title}
                    .header-details
                      .header-detail #{f.creator}
                      .header-detail #{new Date(f.created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}
                      .header-detail #{f.type.split('/').pop()}
                      .header-detail #{f.size}
                      .header-detail #{f.favs}
        .mycontainer.container-right 
            .title News
            .news-list
                each n in news
                    .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span #{n.creator}
                        .comment-content 
                            p 
                                a(href='/recursos/' + n._id) #{n.title}
                        .comment-date
                            i.fa-solid.fa-clock
                            span #{new Date(n.created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}