extends layout

block content
    if errorMessage
        script.
            alert("#{errorMessage}");
    .container-wrapper 
        .mycontainer.container-left 
            .title All Files
            .content
                .filter-container
                    .search-wrapper
                      i.fa-solid.fa-magnifying-glass
                      input.search-groups(type='text' placeholder='Search here')
                .filter-container
                    .filter-sort
                        select#sort-by(name="sort")
                          option(value="" selected) Sort by
                          option(value="dateasc") Date Ascending
                          option(value="datedesc") Date Descending
                          option(value="titleasc") Alphabetically Ascending
                          option(value="titledesc") Alphabetically Descending
                          option(value="sizeasc") Size Ascending
                          option(value="sizedesc") Size Descending
                .filter-container
                    .filter-sort
                        select#filter-by-type(name="sort") 
                            option(value="" selected) Type
                            each t in tipos
                                option(value=t) #{t}
                            //- option(value="all") ALL
                            //- option(value="pdf") PDF
                            //- option(value="jpeg") JPEG
                            //- option(value="html") HTML
                            //- option(value="png") PNG
                            //- option(value="document") DOC
                            option(value="all") ALL
                .filter-container
                    .filter-sort
                        select#filter-by-categ(name='category')
                            option(value='' selected) Category 
                            each c in cat
                                option(value=c.name) #{c.name}
                            option(value='all') ALL
                .filter-container
                    .filter-sort
                        select#filter-by-categ-selected(name='condition')
                            option(value='' selected) Category
                            option(value='equals') Ano
                            option(value='greater') Titulo
                            option(value='less') Autor
                .filter-container
                    .filter-sort
                        select#filter-by-categ-selected(name='condition')
                            option(value='' selected) Category
                            option(value='equals') ==
                            option(value='greater') >=
                            option(value='less') <=
                .filter-container
                    .search-wrapper
                        input#filter-categ-selected(type='text' placeholder='Enter value' name='categValue')

            .header-files 
                .header-title Title
                .header-details
                  .header-detail Author
                  .header-detail Date
                  .header-detail Type
                  .header-detail Size
            
            each f in files
                .files-list
                    .header-title 
                        a(href='/recursos/' + f._id) #{f.title}
                    .header-details
                      .header-detail #{f.creator}
                      .header-detail #{new Date(f.created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}
                      .header-detail #{f.type}
                      .header-detail #{f.size}
        .mycontainer.container-right 
            .title News
            .news-list
                each n in news
                    .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span #{n.creator}
                        .comment-content
                            p #{n.title}
                        .comment-date
                            i.fa-solid.fa-clock
                            span #{new Date(n.created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}