extends layout

block content
    .container-wrapper 
        .mycontainer.container-left 
            .title All Files
            .content
                .filter-container
                    .search-wrapper
                      i.fa-solid.fa-magnifying-glass
                      input.search-groups(type='text' placeholder='Search here')
                    .filter-selectors
                        .filter-sort
                            select#sort-by(name="sort")
                              option(value="" selected) Sort by
                              option(value="dateasc") Date Ascending
                              option(value="datedesc") Date Descending
                              option(value="titleasc") Alphabetically Ascending
                              option(value="titledesc") Alphabetically Descending
                              option(value="sizeasc") Size Ascending
                                option(value="sizedesc") Size Descending
                        .filter-sort
                            select#filter-by-type(name="sort") 
                                option(value="" selected) Type
                                option(value="all") ALL
                                option(value="pdf") PDF
                                option(value="jpeg") JPEG
                                option(value="html") HTML
                                option(value="png") PNG
                                option(value="document") DOC
                                option(value="all") ALL

            .header-files 
                .header-title Title
                .header-details
                  .header-detail Author
                  .header-detail Date
                  .header-detail Type
                  .header-detail Size
            
            each f in files
                .files-list
                    .header-title #{f.title}
                    .header-details
                      .header-detail #{f.creator}
                      .header-detail #{new Date(f.created).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })}
                      .header-detail #{getFileExtension(f.type)}
                      .header-detail #{f.size}
        .mycontainer.container-right 
            .title News
            .news-list
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span Author Name
                        .comment-content
                            p Upload a file
                        .comment-date
                            i.fa-solid.fa-clock
                            span 2023-04-25
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span Author Name
                        .comment-content
                            p Upload a file
                        .comment-date
                            i.fa-solid.fa-clock
                            span 2023-04-25
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span Author Name
                        .comment-content
                            p Upload a file
                        .comment-date
                            i.fa-solid.fa-clock
                            span 2023-04-25
                .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span Author Name
                        .comment-content
                            p Upload a file
                        .comment-date
                            i.fa-solid.fa-clock
                            span 2023-04-25
            