extends layout

block content
    .container-wrapper 
        .mycontainer.container-left 
            .title #{file.title}
            if username == file.creator || level == 'admin'
                a(href='#deleteFileModal' data-toggle='modal' data-file=file._id data-creator=file.creator)
                    i#openDeleteModalButton.fa-solid.fa-trash
            i#bookmarkIcon.fa-regular.fa-bookmark(data-user=username, data-file=file._id)
            .bookmarkPopup Saved
            p Author: #{file.creator}
            p Date: #{file.created}
            p Type: #{file.type}
            p Size: #{file.size} kb
            p Description #{file.description}
            //- .preview-file
                //- p Preview aqui
            .button Download 
                i.fa-solid.fa-download
        .mycontainer.container-right 
            .title Comment Section
            .comment-list
                for c in file.comments.reverse(true).slice(0,5)
                    .comment
                        .comment-author
                            i.fa-solid.fa-user
                            span #{c.user}
                        .comment-content
                            p #{c.comment}
                        .comment-date
                            i.fa-solid.fa-clock
                            span #{c.created}
                            if c.user == username
                                i.fa-solid.fa-pen-to-square(class="toggleIcon" data-comment-id=c._id)
                            if c.user == username || level == 'admin'
                                a(href='#deleteCommentModal' data-toggle='modal' data-file=file._id data-user=c.user data-comment=c._id)    
                                    i.fa-solid.fa-trash
                        form#commentForm(data-comment-id=c._id style="display: none;" action='/recurso/'+file._id +'/updateComment' method='post')
                            textarea#commentInput(name="comment" rows="4" cols="50") 
                            input(type="hidden" name='_id' value=c._id)
                            .button
                                input(type="submit" value="Submit") 
            .comment-form
                form(action='/recurso/'+file._id +'/addComment' method='post')
                    input(type="hidden" name='user' value=username)
                    textarea#commentText(name="comment", rows="4", placeholder="Write your comment here...")
                    .button
                        input(type="submit" value="Comment") 
    // Delete File Modal
    #deleteFileModal.modal.fade(tabindex="-1", role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title Are you sure?
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            p You are about to permanently remove a file. This action cannot be undone.
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
            button.btn.btn-primary(type="button", id="confirmDeleteFile") Confirm
    // Delete Comment Modal
    #deleteCommentModal.modal.fade(tabindex="-1", role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title Are you sure?
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body
            p You are about to permanently remove a comment. This action cannot be undone.
          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
            button.btn.btn-primary(type="button", id="confirmDeleteComment") Confirm
                        