extends layout

block content
    if message
        script.
            alert("#{message}");
    section.py-5.my-5 
        .container
            h1.title.mb-5 Account Settings 
            .bg-white.shadow.rounded-lg.d-block.d-sm-flex
                .profile-tab-nav.border-right
                    .p-4 
                        h4.text-center #{user.username}
                    .nav.flex-column.nav-pills#v-pills-tab(role="tablist" aria-orientation="vertical")
                        a.nav-link.active#account-tab(data-toggle="pill", href="#account", role="tab", aria-controls="account", aria-selected="true")
                            i.fa.fa-home.text-center.mr-1
                            | Account
                        a.nav-link#password-tab(data-toggle="pill", href="#password", role="tab", aria-controls="password", aria-selected="false")
                            i.fa.fa-key.text-center.mr-1
                            | Password
                        a.nav-link#groups-tab(data-toggle="pill", href="#groups", role="tab", aria-controls="groups", aria-selected="false")
                            i.fa-solid.fa-users-viewfinder.text-center.mr-1
                            | Groups
                        a.nav-link#saved-tab(data-toggle="pill", href="#saved", role="tab", aria-controls="saved", aria-selected="false")
                            i.fa-solid.fa-bookmark.text-center.mr-1
                            | Saved Files
                        a.nav-link#myfiles-tab(data-toggle="pill", href="#myfiles", role="tab", aria-controls="myfiles", aria-selected="false")
                            i.fa-solid.fa-file.text-center.mr-1
                            | My Files
                        if level === 'admin'
                            a.nav-link#categories-tab(data-toggle="pill", href="#categories", role="tab", aria-controls="categories", aria-selected="false")
                                i.fa-solid.fa-folder-open.text-center.mr-1
                                | Categories
                        a.nav-link(data-toggle="pill", role="tab", aria-selected="false", onclick="location.href='/logout'")
                            i.fa-solid.fa-arrow-right-from-bracket.text-center.mr-1
                            | Log out
                .tab-content.p-4.p-md-5#v-pills-tabContent
                    .tab-pane.fade.show.active#account(role="tabpanel", aria-labelledby="account-tab")
                        h3.mb-4 Account Settings 
                        form(action='/updateUser/'+user.username method='post') 
                            .row 
                                .col-md-6 
                                    .form-group 
                                        label First Name 
                                        input.form-control(type="text" name='name' value=user.name)
                                .col-md-6 
                                    .form-group 
                                        label Last Name 
                                        input.form-control(type="text" name='surname' value=user.surname)
                                .col-md-6 
                                    .form-group 
                                        label E-mail
                                        input.form-control(type="text" name='email' value=user.email)
                                .col-md-6 
                                    .form-group 
                                        label Occupation
                                        input.form-control(type="text" name='occupation' value=user.occupation)
                                .col-md-12
                                    .form-group 
                                        label Bio
                                        textarea.form-control(rows="4" name='bio') #{user.bio}
                                
                                .button 
                                    input(type="submit" value="Update") 
                    .tab-pane.fade#password(role="tabpanel" aria-labelledby="password-tab")
                        h3.mb-4 Password Settings 
                        form(action='/updatePassword/'+user.username method='post')  
                            .row 
                                .col-md-6 
                                    .form-group 
                                        label Old Password
                                        input.form-control(type="password" required='' name='oldPassword')
                                .col-md-6 
                                    .form-group 
                                        label New Password 
                                        input.form-control#passwordInput(type="password" required='' name='newPassword')
                                .col-md-6 
                                    .form-group 
                                        label Confirm Password
                                        input.form-control#confirmPasswordInput(type="password" required='')
                                .col-md-6
                                    .strength-wrapper
                                        .strength-meter#strengthMeter
                                        span#strengthLevel
                                        ul#passwordRequirements.password-requirements
                                            li#lengthReq At least 8 characters
                                            li#uppercaseReq At least one uppercase letter
                                            li#lowercaseReq At least one lowercase letter
                                            li#numberReq At least one number
                                            li#specialCharReq At least one special character
                                            li#passwordMatchReq Passwords match 
                                .button
                                    input(type="submit" value="Update") 
                    .tab-pane.fade#groups(role="tabpanel" aria-labelledby="groups-tab")
                        .groups-header
                            h3.mb-4.group-title My Groups 
                            a.mb-4.group-button(href='/formGroup')  New Group
                        if groups.length > 0
                            .header-files 
                                .header-title Group
                                .header-details
                                  .header-detail Owner
                                .header-details
                                  .header-detail Participants
                            each f in groups
                                .files-list
                                    .header-title 
                                        a(href='/groups/' + f._id) #{f.name}
                                    .header-details
                                      .header-detail #{f.owner}
                                    .header-details
                                      .header-detail #{f.participants}
                        else
                            h5 No files
                        
                    .tab-pane.fade#saved(role="tabpanel" aria-labelledby="saved-tab")
                        h3.mb-4 Saved Files
                        if favorites.length > 0

                            .header-files 
                                .header-title Title
                                .header-details
                                  .header-detail Author
                                  .header-detail Date
                                  .header-detail Type
                                  .header-detail Size
                            each f in submissions
                                .files-list
                                    .header-title 
                                        a(href='/recursos/' + f._id) #{f.title}
                                    .header-details
                                      .header-detail #{f.creator}
                                      .header-detail #{f.created}
                                      .header-detail #{f.type}
                                      .header-detail #{f.size}
                        else
                            h5 No files
                        
                    .tab-pane.fade#myfiles(role="tabpanel" aria-labelledby="myfiles-tab")
                        h3.mb-4 My Files 
                        if submissions.length > 0

                            .header-files 
                                .header-title Title
                                .header-details
                                  .header-detail Visibility
                                  .header-detail Date
                                  .header-detail Type
                                  .header-detail Size
                            each f in submissions
                                .files-list
                                    .header-title 
                                        a(href='/recursos/' + f._id) #{f.title}
                                    .header-details
                                      .header-detail #{f.visibility}
                                      .header-detail #{f.created}
                                      .header-detail #{f.type}
                                      .header-detail #{f.size}
                        else
                            h5 No files
                    .tab-pane.fade#categories(role="tabpanel" aria-labelledby="categories-tab")
                        h3.mb-4 Categories 
                        div#categoriesData(data-categories=categorias)
                        form(action='/addCategory' method='post')  
                            .form-group 
                                label Category Name
                                input#categoryInput.form-control(type="text" required='' name='name' placeholder='Enter a category name')
                                p#error-message
                            .button 
                                    input#submitCategory(type="submit" value="Add") 
                        .container-categories
                            if categorias
                                each cat in categorias
                                    .cat #{cat.name}
                                
                        